/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button,
textarea {
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  color: var(--primary-text-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* MAIN CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #47B5FF;
  --secondary-color: #1363DF;
  --tertiary-color: #06283D;
  --forth-color: #DFF6FF;
  --neutral-color: #f7f7f7;
  --primary-text-color: #06283D;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  height: 100vh;
}

hr {
  border: 1px solid var(--neutral-color);
  opacity: 1;
}

/* NAVBAR */
nav .brand {
  width: fit-content;
}

nav .brand a {
  font-size: 40px;
  font-weight: 700;
  color: var(--primary-color);
}

nav .brand span {
  font-size: 40px;
  font-weight: 500;
}

nav .note {
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--forth-color);
  width: fit-content;
}

/* SERVICE LIST */
.service_list {
  width: 90vw;
  justify-content: center;
  gap: 20px;
}

.service_card {
  height: 150px;
}

.service_card a {
  height: 100%;
}

.service_card img {
  height: 50%;
  object-fit: contain;
}

.service_card.fpt {
  text-align: center;
  outline: 5px solid rgba(246, 96, 9, 0);
  background-color: rgba(246, 96, 9, 0.2);
}

.service_card.fpt:hover {
  outline: 5px solid rgba(246, 96, 9, 0.1);
}

.service_card.mykplus {
  text-align: center;
  background-color: rgba(219, 33, 41, 0.2);
  outline: 5px solid rgba(219, 33, 41, 0);
}

.service_card.mykplus:hover {
  outline: 5px solid rgba(219, 33, 41, 0.1);
}

.service_card.vieon {
  text-align: center;
  background-color: rgba(128, 194, 65, 0.2);
  outline: 5px solid rgba(128, 194, 65, 0);
}

.service_card.vieon:hover {
  outline: 5px solid rgba(128, 194, 65, 0.1);
}