/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button,
textarea {
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  color: var(--primary-text-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* MAIN CSS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: rgb(71, 181, 255);
  --secondary-color: rgb(19, 99, 223);
  --tertiary-color: rgb(6, 40, 61);
  --forth-color: rgb(223, 246, 255);
  --neutral-color: rgb(240, 240, 240);
  --primary-text-color: rgb(6, 40, 61);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  height: 100vh;
}

hr {
  border: 1px solid var(--neutral-color);
  opacity: 1;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border: none !important;
}

/* NAVBAR */
nav .brand {
  width: fit-content;
}

nav .brand a {
  font-size: 40px;
  font-weight: 700;
  color: var(--primary-color);
}

nav .brand span {
  font-size: 40px;
  font-weight: 500;
}

nav .note {
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--forth-color);
  width: fit-content;
}

/* SERVICE LIST */
.service_list {
  width: 90vw;
  justify-content: center;
  gap: 20px;
}

.service_list>button {
  height: 150px;
}

.service_list>button img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.service_list .list-group span {
  font-weight: 700;
  color: var(--primary-color);
}

.service_list>button.mykplus a {
  height: 100%;
}

.service_list>button.mykplus {
  background-color: rgba(219, 33, 41, 0.2);
  outline: 5px solid rgba(219, 33, 41, 0);
}

.service_list>button.mykplus:hover {
  outline: 5px solid rgba(219, 33, 41, 0.1);
}

.service_list>button.fptplay {
  background-color: rgba(246, 96, 9, 0.2);
  outline: 5px solid rgba(246, 96, 9, 0);
}

.service_list>button.fptplay:hover {
  outline: 5px solid rgba(246, 96, 9, 0.1);
}

.service_list #fptplayModal .modal-title span {
  color: rgb(246, 96, 9);
  font-weight: 700;
}

.service_list>button.vieon {
  background-color: rgba(128, 194, 65, 0.2);
  outline: 5px solid rgba(128, 194, 65, 0);
}

.service_list>button.vieon:hover {
  outline: 5px solid rgba(128, 194, 65, 0.2);
}

.service_list #vieonModal .modal-title span {
  color: rgb(128, 194, 65);
  font-weight: 700;
}

/* PRICING */
.plan_card {
  background-color: white;
  border: 1px solid var(--neutral-color);
  box-shadow: 20px 15px 40px 0px rgba(70, 70, 70, 0.1);
  width: 100%;
  height: 100%;
}

.plan_title {
  font-size: 30px;
  font-weight: 700;
}

.plan_title span {
  font-weight: 500;
}

.plan_devices {
  font-weight: 600;
  width: fit-content;
  background-color: var(--secondary-color);
}

.plan hr {
  width: 70%;
  border: 1px solid var(--neutral-color);
  opacity: 1;
}

.plan_pricing .nav {
  gap: 10px;
}

.plan_pricing .nav button {
  font-weight: 700;
  color: var(--primary-color);
  background-color: var(--forth-color);
}

.plan_pricing .nav button.active {
  background-color: var(--primary-color);
}

.plan_pricing p.price {
  font-size: 50px;
  font-weight: 700;
}

.plan_pricing .initial_price {
  font-size: 20px;
  width: fit-content;
}

.plan_pricing .initial_price p {
  width: fit-content;
  position: relative;
}

.plan_pricing .initial_price p::before {
  content: "";
  background-color: var(--primary-text-color);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.plan_description {
  width: 80%;
}

.plan_description ul {
  font-weight: 600;
  gap: 15px;
}

.plan_description ul i {
  color: white;
  background-color: var(--secondary-color);
  padding: 5px;
}

.plan_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.plan .warranty_policy {
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--forth-color);
}


.plan .warranty_policy:hover {
  color: white;
  background-color: var(--secondary-color);
}